<div class="bg-white p-3 contact-form">
	<div class="form-group">
		{{ form_start(contact_form) }}
		{{ form_row(contact_form.nom, {'attr': {'class': 'form-control', 'placeholder' :'Votre nom'}}) }}
		{{ form_row(contact_form.prenom, {'attr': {'class': 'form-control', 'placeholder' :'Votre prénom'}}) }}

		<div class="form-group">
			{{ form_row(contact_form.email, {'attr': {'class': 'form-control', 'placeholder' :'Votre e-mail'}}) }}
		</div>
		<div class="form-group">
			{{ form_row(contact_form.tel, {'attr': {'class': 'form-control', 'placeholder' :'Votre numéro de téléphone'}}) }}
		</div>
		<div class="form-group">
			{{ form_row(contact_form.message, {'attr': {'class': 'form-control', 'placeholder' :'Votre message'}}) }}
		</div>
		<div class="form-group">
			<input type="submit" value="Envoyer" class="btn btn-primary py-2 px-2">
		</div>
		{{ form_end(contact_form) }}
		{% for message in app.flashes('success') %}
			<div class="flash-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>
</div>{#
{% if success %}
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Success</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Votre message a été envoyé.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#successModal').modal('show');
            });
        </script>
    {% endif %}#}